html, body {
  margin:0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  position:absolute;
  height: calc(100% - 56px);
  width: 100%;
}

#add_map, #edit_map, #filter_map {
  width:100%;
  height:222px;  
}

#description {
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* 
  Filter Crime - 0% left (16% width)
  Import Crime - 0.25% left (16% width)
  Location Search - 0.25% left and right (35% width)
  Analyse Crime - 0.25% right (16% width)
  Predict Crime - 0% right (16% width)
*/

#btn_filter, #btn_import, #btn_analyse, #btn_predict {
  color:white;
  width:16%;
}

#btn_filter {
  margin-left: 0;
}

#btn_import {
  margin-left: 0.25%;
}

#btn_analyse {
  margin-right: 0.25%;
}

#btn_predict {
  margin-right: 0;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: black;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 35%;
  height: 38px;
  margin-left:0.25%;
  margin-right:0.25%;
  text-align: center;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
	  
.custom_contextmenu {
  background-color: white;
  position: fixed;
  width: 10%;
  display: none;
}

body > #Alert_Error, body > #Alert_Warning { /* When alerts are constructed initially */
  display: none;
}

#Alert_Error, #Alert_Warning { /* When alerts are moved inside the various modals */
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
}

#Alert_Progress {
  position: fixed;
  display: none;
  z-index: 20001;
  width: 500px;
  left: calc(50% - 250px);
  top: 350px;
}

.hidden {
  display: none !important;
}

.spinner-border {
  display: none;
  position:absolute;
  z-index:20000;
  height:100px;
  width:100px;
}
	  
.custom_contextmenu_btn {
  cursor: pointer;
  padding: 8px 15px;		
  font-weight:bold;
  text-decoration:none;
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: #555;
}

.custom_contextmenu_btn:hover {
  background-color: #000;
}

.add {
  background-color: #4CAF50;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 18px;
  background-color: rgb(52, 58, 64);
  color: white;
}

.modal-body {padding: 14px 10px;}

input[type=date], input[type=time] {
  height:35px;
  font-size:15px;
  padding: 5px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:#e6eeff;
}

input[type=date] {
  width:140px;
}

input[type=time] {
  width:90px;
}

input[type="date"]::-webkit-calendar-picker-indicator { opacity:1; }
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button { -webkit-appearance: none;display: none; }

.form-control {
  background-color:#e6eeff;
  width:93%;
  font-size:15px;
  color: black;
}

input[type="number"] {
  width:50px;
  text-align: center;
  background-color:#e6eeff;
  font-size:15px;
  color: black;
}

.alert-heading {
  font-weight: bold;
}

#Alert_Error_Message, #Alert_Warning_Message, #lbl_Filter_ID {
  font-size:14px;
}

#lbl_Filter_ID {
  margin:5px 0 0 2.5%;
  padding:0;
}

#Filter_ID {
  width:15%;
}

#Filter_Clear, #Filter_ID, #ID_Search, #Delete_Filtered_Markers, #Import_Template, #Import_Browse {
  font-size:12px;
  height:20px;
  padding:0px 10px 2px 10px;
  margin-top:5px;
  text-align:center;
}

#Filter_Clear, #Filter_ID, #ID_Search, #Import_Template, #Import_Browse {
  margin-left:10px;
}

#Delete_Filtered_Markers {
  margin-left:12.5%;
}

#Filter_Crime_Type option[value="[ALL]"], #Filter_Crime_Type_sub option[value="[ALL]"], #Filter_Location option[value="[ALL]"] {
  background:rgba(0,255,0,0.3);
}

#btn_add_confirm, #btn_edit_confirm, #btn_import_confirm, #btn_filter_confirm {
  width: 100%;
}

#btn_add_confirm, #btn_edit_confirm {
  margin-top:10px;
}

#import_lbl {
  display:inline-block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.progress {
  margin-top:10px;
}

.progress-bar {
  width: 0%;
}

#modal_left {
  width:52.5%;
  float:left;
}

#modal_right {
  border: 1px solid black;
  width:47.5%;
  float:right;
}

#modal_add_dialog, #modal_edit_dialog, #modal_filter_dialog { /* All */
  min-width:1700px;
}

@media (min-width:1200px) and (max-width:1370px) { /* e.g 1366 x 768 pixels */
  #modal_add_dialog, #modal_edit_dialog, #modal_filter_dialog {
    left:-160px;
    top:-25px;
  }  
}

@media (max-width:1200px) { /* Even smaller resolutions */
  #modal_add_dialog, #modal_edit_dialog, #modal_filter_dialog {
    left:-340px;
    top:-35px;
  }  
}