html, body {
margin:0;
height: 100%
width: 100%;
font-family: Arial;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.IconBarBtn {
  border: none;
  text-align: center;
  padding: 10px 0;
  font-weight:bold;
  font-family:Arial;
  text-decoration:none;
  color: white;
  font-size: 20px;
  background-color: #555;
}

.IconBarBtn:hover {
  background-color: #000;
}

.IconBarBtn.active {
  background-color: #4CAF50;
}

.Map {
  float: left;
  width: 25%;	
}

.Signin {
  float: right;
  width: 5%;
}

.Settings {
  float: right;
  width: 20%;
}

#map {
  position:absolute;
  height: calc(100% - 56px);
  width: 100%;
}


#map2 {
  width:100%;
  height:300px;  
}

#map3 {
  width:100%;
  height:300px;  
}

.submit_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font: bold 15px Arial;
}

.submit_button:hover {
  opacity: 0.8;
}

#description {
        font-family: Arial;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Arial;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Arial;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Arial;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 25%;
		height: 40px;
		text-align: center;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
	  
      #target {
        width: 345px;
      }
	  
.custom_contextmenu {
  background-color: white;
  position: fixed;
  width: 10%;
  display: none;
}
	  
.custom_contextmenu_btn {
  cursor: pointer;
  padding: 8px 15px;		
  font-weight:bold;
  font-family:Arial;
  text-decoration:none;
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: #555;
}

.custom_contextmenu_btn:hover {
  background-color: #000;
}

.add {
  background-color: #4CAF50;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 18px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 14px 10px;}

input[type=date], input[type=time], select {
 height:35px;
 font-family:Arial;
 font-size:16px;
 background-color: white;
 outline: none;
 border: 5;
 border-radius: 3px;
 padding: 5px;
 color: black;
}

input[type=date] {
 min-width:150px;
 width:35%;
}

input[type=time] {
 min-width:100px;
 width:22.5%;
}

input[type="date"]::-webkit-calendar-picker-indicator { opacity:1; }
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button { -webkit-appearance: none;display: none; }